.button {
    background-color: #555;
    color: #bbb;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 25px;
    border-radius: 7px;
    border: 1px solid #333;
}

.button:hover,.operator:hover  {
    background-color: #363636;
    color: #aaa;
    cursor: pointer;
    font-size: 23px;
    transition: all;
}

.operator {
    background-color: #464646;
  }


