* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: lightslategrey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  height: 100vh;
  border: 1px solid white;
}